@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ed8207 #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 4%;
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: orange;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color:orange;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: orange;
  }
  